<!DOCTYPE html>
<html>
  <%= render "shared/html_header" %>

  <body>
    <%= render "shared/nav" %>

    <main class="container mx-auto px-4 sm:px-6 lg:px-8">
      <%= yield %>
    </main>

    <%= render "shared/footer" %>

    <%= render "shared/prismic_preview" %>

  </body>
</html>
